    <!-- 🔥 ОБНОВЛЕНИЕ -->
    <MajorUpgrade 
        DowngradeErrorMessage="Новая версия UpdateLockScreen уже установлена. Установка старой версии невозможна."
        Schedule="afterInstallInitialize" />

    <!-- Custom Actions -->
    <CustomAction Id="RunInstallScript"
        Directory="INSTALLFOLDER"
        ExeCommand='powershell.exe -NoProfile -ExecutionPolicy Bypass -WindowStyle Hidden -File "install-script.ps1"'
        Execute="deferred"
        Return="check"
        Impersonate="no" />

    <CustomAction Id="RunUninstallScript"
        Directory="INSTALLFOLDER"
        ExeCommand='powershell.exe -NoProfile -ExecutionPolicy Bypass -WindowStyle Hidden -File "uninstall-script.ps1"'
        Execute="deferred"
        Return="ignore"
        Impersonate="no" />

    <InstallExecuteSequence>
        <Custom Action="RunInstallScript" After="InstallFiles">
            NOT Installed OR UPGRADINGPRODUCTCODE
        </Custom>

        <Custom Action="RunUninstallScript" Before="RemoveFiles">
            REMOVE="ALL"
        </Custom>
    </InstallExecuteSequence>
